@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-color1: #ffffff; 
  --background: #111111;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --white: #fff;
    --background: #b22121;
    --background: #d4a7a7;


  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.l-Section--countdown.compact .c-Countdown__timer {
    width: auto;
    font-size: clamp(1.2857142857em,4vw,1.7142857143em);
    padding: 10px;
}
.c-Countdown__timer {
    font-family: Maison Neue Mono,Courier New,Courier,monospace;
    font-weight: 400;
    backdrop-filter: blur(3em);
    position: relative;
    background-color: rgba(38,40,42,.8);
    min-height: 0;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: var(--white);
    font-size: 32px;
    font-weight: 200;
    letter-spacing: -0.09em;
    

    /* pt-3;  */
}

    
.h3_text {
    font-family: Poppins;
   font-style: Regular;
   font-size: 17.87px;
   line-height: 29.49px;
   line-height: 110%;
   text-align: Center;
   vertical-align: Top;
  letter-spacing: 0.64px;

}
* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}
/* @media (min-width: 769px) */
.c-Countdown__timer {
    width: auto;
    padding: 4px 10px;
    -webkit-box-shadow: none;
}
.colorgradient {
  background: linear-gradient(to right, #5C29BC, #9121C7);
}
.like {
  margin: 5rem 0;
}
.like .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.like .container .content {
  background-color: var(--accent-color2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
}
.like .container .content .title {
  color: var(--accent-color1);
}
.like .container .content .description {
  color: var(--accent-color3);
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
.decentralized {
  height: 100px;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .like {
    margin: 0;
  }
  .like .container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .like .container .content {
    padding: 1rem 2rem;
    border-radius: 0;
  }
  .like .container .content:nth-of-type(2) {
    background-color: var(--background);
  }
}


.div_h3
{
    
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 17.87px;
  line-height: 80.49px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.64px;
  position: absolute;
  left: 316.38px;
  top: 333.91px;
  width: 645.99px;
  height: 89px;

}

.elements {
    position: absolute;
  left: 390.1px;
  top: 264.22px;
  width: 542px;
  height: 64px;
  font-family: "Poppins", sans-serif;
  font-style: medium;
  font-size: 44.89px;
  line-height: 80px;
  text-align: left;
  letter-spacing: 2%;
  vertical-align: top;
}
